[user]
	name = Bai Yingjie
	email = byj.tea@gmail.com
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = byj.tea@gmail.com
	smtpserverport = 587
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = meld
[alias]
	ls = log --oneline --decorate
	lg = log --decorate --stat --graph
[push]
	default = matching
