[user]
	name = Bai Yingjie
	email = byj.tea@gmail.com
[sendemail]
        smtpencryption = tls
        smtpserver = smtp.gmail.com
        smtpuser = byj.tea@gmail.com
        smtpserverport = 587
[core]
	editor = vim
[merge]
	tool = kdiff3
